main {
  background-color: var(--clr-Dark-Grayish-Blue);
  padding: 1.5em 1em 3em;
  border-radius: 10px;
  width: 90vw;
  max-width: 650px;
  font-size: 1.7rem;
  text-align: center;
  position: relative;
}
h1 {
  color: var(--clr-Neon-Green);
  text-align: center;
  font-size: 0.7rem;
  letter-spacing: 5px;
  font-weight: normal;
  margin-bottom: 1em;
}

q {
  color: var(--clr-Light-Cyan);
}
img {
  display: block;
  width: 100%;
  margin: 0;
}
.divider {
  margin-top: 1em;
}
.desktop-logo {
  display: none;
}
.dice-icon-container {
  background-color: var(--clr-Neon-Green);
  width: fit-content;
  padding: 0.7em;
  border-radius: 50%;
  position: absolute;
  left: 40%;
  top: 90%;
  cursor: pointer;
}
.dice-icon-container:hover {
  box-shadow: 5px 5px 18px hsl(150, 100%, 66%),
    -5px -5px 18px hsl(150, 100%, 66%);
}
@media screen and (min-width: 655px) {
  main {
    font-size: 2.2rem;
  }
  .dice-icon-container {
    left: 45%;
  }
  .desktop-logo {
    display: block;
  }
  .mobile-logo {
    display: none;
  }
}
