@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@800&display=swap");
:root {
  --clr-Light-Cyan: hsl(193, 38%, 86%);
  --clr-Neon-Green: hsl(150, 100%, 66%);
  --clr-Grayish-Blue: hsl(217, 19%, 38%);
  --clr-Dark-Grayish-Blue: hsl(217, 19%, 24%);
  --clr-Dark-Blue: hsl(218, 23%, 16%);
}
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

body {
  min-height: 100vh;
  font-size: 28px;
  font-family: "Manrope", sans-serif;
  background-color: var(--clr-Dark-Blue);
  display: grid;
  place-content: center;
}
